<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head></head>
    <meta charset="utf-8" />
    <title>Buy Page</title>

    <!-- BOOTSTRAP -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <!-- BOOTSTRAP -->
    <!-- <base href="/"> -->

    <link rel="stylesheet" href="/./stylesheets/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap"
      rel="stylesheet"
    />
    <body>
      <div class="top-container">
        <nav class="search-bar">
          <form>
            <input
              class="search-input"
              type="search"
              placeholder="Search"
              aria-label="Search.."
            />
            <button class="search-btn" type="submit">Search</button>
          </form>
        </nav>
        <!-- LOGIN FEATURE -->
        <form>
          <nav class="login-bar">
            <%if( uname ===false){%>
            <a href="/login">login</a>
          <%}%>
            <%if( uname !=false){%>
              <a href="/auth/logout">logout</a>
              <a href="/mypage"><%= uname %></a>
          <%}%>
            <%if( admin == true){%>
            <a href="/fpowefmopverldioqwvyuwedvyuqwgvuycsdbjhxcyuqwdyuqwbjhcxyuhgqweyu">DataBase</a>
          <%}%>
          </nav>
        </form>

        <img id="logo" src="/logo.png" alt="logo" onclick="location.href='/mainpage'"/>
                <p class="logo-font">sfu-backpack</p>
      </div>

                  <!-- Drop-down menu -->
      <div class="buying-menu">
        <div class="navigationDesktop">
          <nav class="nav-buying-dropdown-menu">
            <ul class="ul-buying-dropdown-menu">
              <li class="li-buying-dropdown-menu">
                <a href="/buy">A</a>
                <ul>
                  <li><a href="/post/acma">ACMA</a></li>
                  <li><a href="/post/als">ALS</a></li>
                  <li><a href="/post/apma">APMA</a></li>
                  <li><a href="/post/arab">ARAB</a></li>
                  <li><a href="/post/arch">ARCH</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">B</a>
                <ul>
                  <li><a href="/post/bisc">BISC</a></li>
                  <li><a href="/post/bpk">BPK</a></li>
                  <li><a href="/post/bus">BUS</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">C</a>
                <ul>
                  <li><a href="/post/chem">CHEM</a></li>
                  <li><a href="/post/chin">CHIN</a></li>
                  <li><a href="/post/cogs">COGS</a></li>
                  <li><a href="/post/cmns">CMNS</a></li>
                  <li><a href="/post/cmpt">CMPT</a></li>
                  <li><a href="/post/ca">CA</a></li>
                  <li><a href="/post/crim">CRIM</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">D</a>
                <ul>
                  <li><a href="/post/data">DATA</a></li>
                  <li><a href="/post/dial">DIAL</a></li>
                  <li><a href="/post/dmed">DMED</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">E</a>
                <ul>
                  <li><a href="/post/easc">EASC</a></li>
                  <li><a href="/post/eco">ECO</a></li>
                  <li><a href="/post/econ">ECON</a></li>
                  <li><a href="/post/educ">EDUC</a></li>
                  <li><a href="/post/edpr">EDPR</a></li>
                  <li><a href="/post/etec">ETEC</a></li>
                  <li><a href="/post/encs">ENCS</a></li>
                  <li><a href="/post/engl">ENGL</a></li>
                  <li><a href="/post/eas">EAS</a></li>
                  <li><a href="/post/env">ENV</a></li>
                  <li><a href="/post/evcs">EVCS</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">F</a>
                <ul>
                  <li><a href="/post/fass">FASS</a></li>
                  <li><a href="/post/fnlg">FNLG</a></li>
                  <li><a href="/post/fal">FAL</a></li>
                  <li><a href="/post/fan">FAN</a></li>
                  <li><a href="/post/fren">FREN</a></li>
                </ul>
              </li>

              <li>
                <a href="/buy">G</a>
                <ul>
                  <li><a href="/post/gsws">GSWS</a></li>
                  <li><a href="/post/gs">GS</a></li>
                  <li><a href="/post/geog">GEOG</a></li>
                  <li><a href="/post/germ">GERM</a></li>
                  <li><a href="/post/ga">GA</a></li>
                  <li><a href="grk">GRK</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">H</a>
                <ul>
                  <li><a href="/post/hsci">HSCI</a></li>
                  <li><a href="/post/hs">HS</a></li>
                  <li><a href="/post/hist">HIST</a></li>
                  <li><a href="/post/hum">HUM</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">I</a>
                <ul>
                  <li><a href="/post/indg">INDG</a></li>
                  <li><a href="/post/ins">INS</a></li>
                  <li><a href="/post/iat">IAT</a></li>
                  <li><a href="/post/is">IS</a></li>
                  <li><a href="/post/ispo">ISPO</a></li>
                  <li><a href="/post/ital">ITAL</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">J</a>
                <ul>
                  <li><a href="/post/japn">JAPN</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">L</a>
                <ul>
                  <li><a href="/post/lbst">LBST</a></li>
                  <li><a href="/post/lang">LANG</a></li>
                  <li><a href="/post/las">LAS</a></li>
                  <li><a href="/post/lbrl">LBRL</a></li>
                  <li><a href="/post/ls">LS</a></li>
                  <li><a href="/post/ling">LING</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">M</a>
                <ul>
                  <li><a href="/post/mtec">MTEC</a></li>
                  <li><a href="/post/masc">MASC</a></li>
                  <li><a href="/post/math">MATH</a></li>
                  <li><a href="/post/macm">MACM</a></li>
                  <li><a href="/post/mse">MSE</a></li>
                  <li><a href="/post/mbb">MBB</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">N</a>
                <ul>
                  <li><a href="/post/neur">NEUR</a></li>
                  <li><a href="/post/nusc">NUSC</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">O</a>
                <ul>
                  <li><a href="/post/onc">ONC</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">P</a>
                <ul>
                  <li><a href="/post/pers">PERS</a></li>
                  <li><a href="/post/phil">PHIL</a></li>
                  <li><a href="/post/phys">PHYS</a></li>
                  <li><a href="/post/plan">PLAN</a></li>
                  <li><a href="/post/pol">POL</a></li>
                  <li><a href="/post/psyc">PSYC</a></li>
                  <li><a href="/post/plcy">PLCY</a></li>
                  <li><a href="/post/pub">PUB</a></li>
                  <li><a href="/post/punj">PUNJ</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">R</a>
                <ul>
                  <li><a href="/post/rem">REM</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">S</a>
                <ul>
                  <li><a href="/post/sci">SCI</a></li>
                  <li><a href="/post/sda">SDA</a></li>
                  <li><a href="/post/sa">SA</a></li>
                  <li><a href="/post/span">SPAN</a></li>
                  <li><a href="/post/stat">STAT</a></li>
                  <li><a href="/post/sd">SD</a></li>
                  <li><a href="/post/see">SEE</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">T</a>
                <ul>
                  <li><a href="/post/tekx">TEKX</a></li>
                  <li><a href="/post/trss">TRSS</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">U</a>
                <ul>
                  <li><a href="/post/urb">URB</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">W</a>
                <ul>
                  <li><a href="/post/wl">WL</a></li>
                </ul>
              </li>
              <li>
                <a href="/buy">OTHERS</a>
                <ul>
                  <li><a href="/post/others">OTHERS</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Create a condition to print the course name only one time -->
      <% var i = 1; %>
      <ul>
        <!-- Get data from img table and display it -->
          <% results.forEach(function(r) { %>
            <!-- Make an if statement to print course name only one time -->
          <% if ( i == 1) {%>
            <li class="course-heading-buyingpage"><%= r.course %> </li>
            <% i = 0; %>
          <%};%>
            <hr>
          <br>
          <!-- Displaying book image and book information  -->
          <u2 class="div-display-bookname-bookimage">
            <img width="200px" src="<%= r.path %>" alt="image">
            <!-- <div id='map'></div> -->
            <ul class="book-name-buyingpage">
              <ul><%= r.bookname %></ul>
              <ul><span>Seller: </span> <%= r.uid %></ul>
              <ul><span>Price: </span> <%= r.cost %></ul>
              <ul><span>Condition: </span> <%= r.condition %></ul>
              <ul><span>Description: </span><%= r.description %></ul>
              <ul><span>Location: </span><%= r.location %></ul>
              <ul><span>Lat: </span><%= r.lat %></ul>
              <ul><span>Lng: </span><%= r.lng %></ul>

            </ul>
            <form>
              <!-- <input type="text" name="uid" value="<%= r.uid %>" style="display: none"> </input> -->
              <button type="submit" class="select-btn-buyingpage" formaction="/select_page/<%= r.postid %>" formmethod="GET">Select</button>

              <%if( admin == true){%>
                <button type="submit" class="delete-btn-buyingpage" formaction="/admin_deletePost" formmethod="post">Delete</button>
              <%}%>
            </form>
            </u2>
          <% }); %>
      </ul>
    <body>
</html>
