<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
  </head>
  <link rel="stylesheet" href="./stylesheets/styles.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap"
    rel="stylesheet"
  />
  <script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
/>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
  crossorigin="anonymous"
></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
  #link { color: #ffffff; } /* CSS link color */
</style>   
<!-- BOOTSTRAP -->
<!-- <base href="/"> -->
  <body>

    <form>
      <% rows.forEach(function(attr) { %>
        <div class="container-fluid">
	
          <nav class="navbar navbar-expand-lg navbar-light ">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02" color="text-white">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <%if( uname ===false){%>
                <a class="nav-link" id="link" href="/login">LOGIN<span class="sr-only"></span></a>
                <%}%>
              </li>
              <%if( uname !=false){%>
              <li class="nav-item">
                <a class="nav-link" id="link" href="/auth/logout">LOGOUT</a>
              </li>
              <%}%>
              <%if( uname !=false){%>
                <li class="nav-item">
                  <a class="nav-link" id="link" href="/mypage">MYPAGE</a>
                </li>
                <%}%>
                <%if( uname !=false){%>
                  <li class="nav-item">
                    <a class="nav-link" id="link" href="/chat">MESSAGE</a>
                  </li>
                  <%}%>
                  <%if( uname !=false){%>
                    <li class="nav-item">
                      <a class="nav-link" id="link" href="/cart">CART</a>
                    </li>
                    <%}%>
                    <%if( admin == true){%>
  
              <li class="nav-item">
                <a class="nav-link disabled"  id="link" href="/fpowefmopverldioqwvyuwedvyuqwgvuycsdbjhxcyuqwdyuqwbjhcxyuhgqweyu">DATABASE</a>
              </li>
              <%}%>
            </ul>
        
            <div class="mx-auto">
              <a onclick="location.href='/mainpage'" class="navbar-brand">SFU-backpack</a>
          </div>
            
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" name='text'aria-label="Search.." placeholder="Insert course or bookname">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/search">Search</button>
            </form>
          </div>
        </nav>
        </div>
        <label for="prof_pic" id="list_pics"> Choose an Image: </label>
        <select name="prof_picture" id="pics">
          <option value="logo.png">Backpack</option>
          <option value="soccerball.jpg">Soccer Ball</option>
          <option value="sfulogo.jpg">SFU Logo</option>
          <option value="book.jpg">Book</option>
        </select>
        <input type="text" id="image" name="uimage" value="" style="display: none"> </input>
        <button type="submit" id="imageButton" onclick="getImage(event);" formaction="/changeImage" formmethod="post">Change</button>
        <img id="profile_pic" src="<%= attr.uimage %>" alt="logo"/>
      <div class="info">
        <h1> <%= attr.uname %> <br></h1>
        ID: <%= attr.uid %> <br>
        <p> Email: <%= attr.uemail %> <br></p>
      </div>
      <button id="delete_btn" formaction="/deleteuser" formmethod="post" type="submit" class="delete"> Permanently Delete </button>
      <br><br><br>
      <div class="account">
        <h1> Account <br></h1>
        <p> ID:       <input id="profid" type="text" name="uid" value="<%= attr.uid %>" readonly="readonly" maxLength="10" size="40"></input><br></p>
        <p> Username: <input id="profname" type="text" name="uname" placeholder="<%= attr.uname %>" maxLength="10" size="40"</input><br></p>
        <p> Password: <input id="profpwd" type="password" name="upassword" placeholder="Enter New Password" maxLength="100" size="40"</input><br></p>
        <p> Confirm Password: <input id="profconfirm" type="password" name="confirm" placeholder="Confirm New Password" maxLength="100" size="40"</input><br></p>
        <p> Email:    <input id="profemail" type="text" name="uemail" placeholder="<%= attr.uemail %>" maxLength="30" size="40"</input><br></p>
        <button id="submit_btn" formaction="/edituser" type="submit" formmethod="post" class="edit">Edit</button>
      </div>
      <% }); %>
    </form>

    <form class="posted_supplies">
      <h1> Posted Supplies <br> </h1>
      <div class="user_postings">
        <h2> Course Bookname </h2>
        <% field.forEach(function(r) { %>
          <ul> <%= r.course %> &emsp;&emsp;&emsp; <%= r.bookname %></ul>
          <form class="supplies">
            <input type="text" name="uid" value="<%= r.uid %>" style="display: none"> </input>
            <input type="text" name="bookname" value="<%= r.bookname%>" style="display:none"> </input>
            <button id="submit" type="submit" formaction="/select_page/<%= r.postid %>" formmethod="GET" class="find_post">SELECT</button>
          </form>
        <% }); %>
      </div>
    </form>
  </body>

  <script type="text/javascript" src="./script.js">
  </script>

</html>
