<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
  </head>
  <link rel="stylesheet" href="./stylesheets/styles.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap"
    rel="stylesheet"
  />
  <body>
    <form>
      <% rows.forEach(function(attr) { %>
      <div class="top">
        <nav class="username">
            <a href="/auth/logout">logout</a>
            <a href="/mypage"><%= attr.uname %></a>
        </nav>
        <img id="logo" src="logo.png" alt="logo" onclick="location.href='/mainpage'"/>
        <p class="logo-font">sfu-backpack</p> <br><br><br>
      </div>

        <label for="prof_pic" id="list_pics"> Choose an Image: </label>
        <select name="prof_picture" id="pics">
          <option value="logo.png">Backpack</option>
          <option value="soccerball.jpg">Soccer Ball</option>
          <option value="sfulogo.jpg">SFU Logo</option>
          <option value="book.jpg">Book</option>
        </select>
        <input type="text" id="image" name="uimage" value="" style="display: none"> </input>
        <button type="submit" id="imageButton" onclick="getImage(event);" formaction="/changeImage" formmethod="post">Change</button>
        <img id="profile_pic" src="<%= attr.uimage %>" alt="logo"/>

      <div class="info">
        <h1> <%= attr.uname %> <br></h1>
        ID: <%= attr.uid %> <br>
        <p> Email: <%= attr.uemail %> <br></p>
      </div>

      <button id="delete_btn" formaction="/deleteuser" formmethod="post" type="submit" class="delete"> Permanently Delete </button>
      <br><br><br>

      <div class="account">
        <h1> Account <br></h1>
        <p> ID:       <input id="profid" type="text" name="uid" value="<%= attr.uid %>" readonly="readonly" maxLength="10" size="40"></input><br></p>
        <p> Username: <input id="profname" type="text" name="uname" placeholder="<%= attr.uname %>" maxLength="10" size="40"</input><br></p>
        <p> Password: <input id="profpwd" type="password" name="upassword" placeholder="Enter New Password" maxLength="30" size="40"</input><br></p>
        <p> Confirm Password: <input id="profconfirm" type="password" name="confirm" placeholder="Confirm New Password" maxLength="30" size="40"</input><br></p>
        <p> Email:    <input id="profemail" type="text" name="uemail" placeholder="<%= attr.uemail %>" maxLength="20" size="40"</input><br></p>
        <button id="submit_btn" formaction="/edituser" type="submit" formmethod="post" class="edit">Edit</button>
        <a href="/chatlist">chat list</a>
      </div>
      <% }); %>
    </form>

    <form class="posted_supplies">
      <h1> Posted Supplies <br> </h1>
      <div class="user_postings">
        <h2> Course Bookname </h2>
        <% field.forEach(function(r) { %>
          <ul> <%= r.course %> &emsp;&emsp;&emsp; <%= r.bookname %></ul>
          <form class="supplies">
            <input type="text" name="uid" value="<%= r.uid %>" style="display: none"> </input>
            <input type="text" name="bookname" value="<%= r.bookname%>" style="display:none"> </input>
            <button id="submit" type="submit" formaction="/select_page" formmethod="post" class="find_post">SELECT</button>
          </form>
        <% }); %>
      </div>
    </form>
  </body>

  <script type="text/javascript" src="./script.js">
  </script>

</html>
