<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Main Page</title>
    <!-- BOOTSTRAP -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <!-- BOOTSTRAP -->

    <link rel="stylesheet" href="./stylesheets/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="top-container">
      <nav class="search-bar">
        <form>
          <input
            class="search-input"
            type="text"
            name='text'
            placeholder="Insert course or bookname"
            aria-label="Search.."
          />
          <button class="search-btn" formaction="/search" type="submit">Search</button>
        </form>
      </nav>
      <form>
        <nav class="login-bar">
          <%if( uname ===false){%>
          <a href="/login">login</a>
        <%}%>
          <%if( uname !=false){%>
            <a href="/auth/logout">logout</a>
            <a href="/mypage"><%= uname %></a>
            <a href="/chatlist">message</a>
            <a href="/cart">Cart</a>
        <%}%>
          <%if( admin == true){%>
          <a href="/fpowefmopverldioqwvyuwedvyuqwgvuycsdbjhxcyuqwdyuqwbjhcxyuhgqweyu">DataBase</a>
        <%}%>
        </nav>
      </form>

      <img id="logo" src="logo.png" alt="logo" onclick="location.href='/mainpage'"/>
      <p class="logo-font">sfu-backpack</p>
    </div>

    <%if( admin == true){%>
      <form>
        <div class="all_user">
          <h1> List of Users </h1>
            <div class="users">
              <% all_user.forEach(function(attr) { %>
                <form>
                  <input type="text" name="uid" value="<%= attr.uid %>" style="display: none"> </input>
                  <button type="submit" id="reviewButton" formaction="/getSelectedReview" formmethod="post"><%= attr.uid %></button>
                  <br><br>
                </form>
              <%});%>
            </div>
        </div>
      </form>
    <%}%>

    <%if( admin != true){%>
      <div class="all_reviews">
        <h1> Reviews About <%= uname %> </h1>
        <% other_reviews.forEach(function(attr) { %>
          <div class="About_me">
            Date Written: <%= attr.date %> <br>
            Review by: <%= attr.written_user %> <br> </p>
            <%= attr.description %>
          </div>
        <%});%>

        <h1> Reviews Written By <%= uname %> </h1>
        <% my_reviews.forEach(function(attr) { %>
          <div class="Written_by_me">
            Date Written: <%= attr.date %> <br>
            Review by: <%= attr.written_user %> <br> </p>
            <%= attr.description %>
          </div>
          <form>
            <input type="text" name="date" value="<%= attr.date %>" style="display: none"> </input>
            <input type="text" name="written_user" value="<%= attr.written_user %>" style="display: none"> </input>
            <button type="submit" id="deleteUserReview" formaction="/deleteReview" formmethod="post">Delete</button>
          </form>
        <%});%>
      </div>
    <%}%>
  </body>
</html>
